 <p>welcome : {{user.mail}}</p>

 <form class="form" autocomplete="on" name="loginForm">
  <input type="email" class="topform" placeholder="Enter your email" name="email" ng-model="user.mail" required><br>
  <input type="password" class="bottomform" placeholder="Password" name="password" ng-model="user.pass" required><br>
  <input type="submit" ng-disable="loginForm.$invalid" ng-click="login(user)">
</form>

<p>{{msgtext}}</p>


 <!-- <form class="form" action="demo_form.asp" autocomplete="on">
  <input type="text" class="topform" placeholder="Username" name="fname"><br>
  <input type="password" class="bottomform" placeholder="Password" name="lname"><br>
  <input type="submit">
</form> -->